#eventsList {
  list-style-type: none;
  color: white;
}

.jumbotron {
  background-color: slategrey!important;
  opacity: .9;
  box-shadow: 4px 4px;
}

.container-fluid {
  padding: -120px;
}

#addressInfo {
  padding-top: 15px;
  font-size: 28px;
}

.event-heading {
  font-size: 3em;
  color: white;
  font-family: 'Bitter', serif;
  border-bottom: solid white 1px;
}

.media-left {
  height: 300px;
  width: 350px;
  padding-left: -40px;
  padding-top: -40px;
}

#toTime {
  padding-top: 28px;
  font-size: 20px;
}

#fromTime{
  padding-top: 28px;
  font-size: 20px;
}

.editEvent {
  background-color: darkred;
  color: white;
  border: 1px black solid;
  border-radius: 5px;
  padding-top: 3px;
}

.editEvent:hover {
  background-color: red;
  box-shadow: 4px 4px 4px black;
  transform:scale(.9,.9);
    -webkit-transform:scale(.9,.9);
    -moz-transform:scale(.9,.9);
}

.deleteEvent:hover {
  background-color: #8CABA8;
  box-shadow: 4px 4px  black;
  transform:scale(.9,.9);
    -webkit-transform:scale(.9,.9);
    -moz-transform:scale(.9,.9);
}

.deleteEvent{
  background-color: darkslategray;
  color: white;
  border: 1px black solid;
  border-radius: 5px;
  padding-top: 3px;
}

