img {
  height: 300px;
  width: 350px;
  padding-top: 25px;
  padding-left: 15px;
  padding-bottom: 10px;
}

#home-h1 {
  text-align: center;
  color: white;
  padding-top: 8px;
  border-bottom: 1px solid white;
  width: 40%;
  font-family: 'Gloria Hallelujah', cursive;
}

#home-p {
  padding-bottom: 25px;
  font-size: 1.5em;
  margin-top: 14px;
  width: 70%;
  height: 20%;
}

.block {
  z-index:0;
}

#eventsUsersHomeBtn:hover {
  background-color: red;
  box-shadow: 4px 4px 4px black;
  transform:scale(.9,.9);
    -webkit-transform:scale(.9,.9);
    -moz-transform:scale(.9,.9);
}

#eventsUsersHomeBtn {
  margin-bottom: 10px;
  background-color: darkred;
  border: solid 1px black;
  border-radius: 4px;
}

#eventsLink {
  color: white;
}

#editUsersHomeBtn:hover {
  background-color: #8CABA8;
  box-shadow: 4px 4px 4px black;
  transform:scale(.9,.9);
    -webkit-transform:scale(.9,.9);
    -moz-transform:scale(.9,.9);
}

#editUsersHomeBtn {
  margin-bottom: 10px;
  background-color:  darkslategray;
  border: solid 1px black;
  border-radius: 4px;
}

#editTruck {
  color: white;
}

#containerUsersHome {
  margin-top: 10px;
  background-color: lightslategray;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px;
  opacity: .9;
}