img {
  height: 200px;
  width: 200px;
}

#home-h1 {
  text-align: center;
  color: white;
  border: 1px solid black;
}

#home-p {
  border: 1px solid black;
}

.block {
  z-index:0;
}

.container {
  border: 1px solid black;
  background:lightslategray;
  opacity: 0.9;
  border-radius:3%;
  width: 80%;
}

#eventsLink {
  color: black;
}