.login-input {
  background-color: gray;
  color: white;
}

.login-form {
  background-color: gray;
  color: white;
  padding-top: 15px;
}

.login-h1 {
  background-color: black;
  color: white;
  width: 50%;
  margin: auto;
}
